.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px 0;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__social-heading {
  margin: 0;
  font-family: "inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  font-family: "inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__list-item:nth-of-type(2n) {
  margin: 16px 0 0 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}

.footer__copyright {
  padding: 108px 0 60px 80px;
  font-family: "inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.footer__social-link {
  text-decoration: none;
  color: white;
  transition: opacity 250ms linear;
}

.footer__social-link:hover {
  opacity: 70%;
}
