.header {
  height: 800px;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.header__image {
  max-width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
  z-index: -1;
}

.header__span-accent {
  font-family: "noto serif", "Times New Roman", serif;
  font-weight: normal;
  font-style: italic;
  color: #3f95f3;
  font-size: 60px;
  max-width: 729px;
  line-height: 72px;
}

.header__title {
  font-size: 60px;
  font-weight: 500;
  margin: 183px 0 0 80px;
  font-family: "inter", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 72px;
  max-width: 729px;
}

.header__content {
  font-family: "noto serif", "times new roman", serif;
  margin: 45px 0 0 50px;
  max-width: 683px;
  font-weight: 500;
  line-height: 20px;
  margin: 28px 0 0 80px;
  font-size: 16px;
  color: #6f6f6f;
}

.header__footer {
  margin-top: auto;
  justify-content: space-between;
  display: flex;
  align-content: center;
  align-items: flex-end;
  color: rgb(109, 107, 107);
}

.header__footer_column {
  margin-left: 80px;
  margin-bottom: 40px;
}
.header__footer_title {
  margin: 0;
}

.hours {
  padding: 0 0 40px 80px;
}

.header__paragraph {
  margin: 40px 80px;
  font-weight: normal;
}

.header__address {
  margin: 0 80px 40px 0;
}

.header__footer_list {
  list-style-type: none;
  padding: 0;
}
