.nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
}

.nav__logo {
  margin: 30px 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  font-weight: 600;
  margin: 30px 80px;
  font-family: "inter", Arial, sans-serif;
  font-weight: 400;
}
