.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "inter", arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  background-color: #ffffff;
}

.header {
  height: 800px;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
}

.nav__logo {
  margin: 30px 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  font-weight: 600;
  margin: 30px 80px;
  font-family: "inter", Arial, sans-serif;
}

.header__image {
  max-width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__title {
  font-family: "noto serif", "Times New Roman", serif;
  font-weight: normal;
  font-style: italic;
  color: #3f95f3;
  font-size: 60px;
  margin: 183px 0 0 80px;
  max-width: 729px;
  line-height: 72px;
}

.header__description {
  font-size: 60px;
  font-weight: 500;
  margin: 28px 0 0 80px;
  font-family: "inter", Arial, sans-serif;
  font-style: normal;
  line-height: 72px;
}

.header__content {
  font-family: "noto serif", "times new roman", serif;
  margin: 45px 0 0 50px;
  max-width: 683px;
  font-weight: 500;
  line-height: 20px;
  margin: 28px 0 0 80px;
  font-size: 16px;
  color: #6f6f6f;
}

.header__footer {
  margin-top: auto;
  justify-content: space-between;
  display: flex;
  align-content: center;
  align-items: flex-end;
  color: rgb(109, 107, 107);
}

.hours {
  padding: 0 0 40px 80px;
}

.header__paragraph {
  margin: 40px 80px;
}

.header__address {
  margin: 0 80px 40px 0;
}

.header__footer_list {
  list-style-type: none;
  padding: 40px 80px;
  display: block;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.recipes__title {
  max-width: 580px;
  padding: 100px 0 0 80px;
  font-family: "inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 24px 0 0 80px;
  max-width: 438px;
  font-family: "noto serif", "times new roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  padding: 80px 0 215px;
}

.recipes__videos_one {
  display: block;
}

.recipes__videos_two {
  display: block;
}

.recipes__video-caption {
  font-family: "inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

.recipes__time {
  display: flex;
  display: inline-block;
}
